@import "tailwindcss";
@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";
@import "fumadocs-ui/css/shiki.css";
@import "@keystone/ui/base.css";

@source "../../packages/ui/src/**/*.{ts,tsx}";
